<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [32]:
print("olá mundo")

olá mundo

Crie uma célua de texto e adicione uma imagem.

In [33]:
![imagem da natureza](https://media.istockphoto.com/id/1317323736/pt/foto/a-view-up-into-the-trees-direction-sky.jpg?s=1024x1024&w=is&k=20&c=i-WHrx_vm0Aobq_U42BUJ37LjFyt0IgRKquxlo-joZs=)

'[imagem' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.
'w' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.
'k' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.
'c' n�o � reconhecido como um comando interno
ou externo, um programa oper�vel ou um arquivo em lotes.

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [12]:
# (A)
qtd_total_vendas_19_01 = 3
ticket_medio_19_01 = 320.52
valor_total_19_01 = qtd_total_vendas_19_01 * ticket_medio_19_01

valor_total_vendas_20_01 = 834.47
ticket_medio_20_01 = 119.21
qtd_total_vendas_20_01 = valor_total_vendas_20_01 // ticket_medio_20_01

valor_total_vendas_23_01 = 15378.12
qtd_total_vendas_23_01 = 5
ticket_medio_23_01 = valor_total_vendas_23_01 / qtd_total_vendas_23_01

print("O valor total de vendas (A) é:", valor_total_19_01)
print("a quantidade total de vendas (B) é:",qtd_total_vendas_20_01)
print("O ticket médio (C) é:", ticket_medio_23_01)

O valor total de vendas (A) é: 961.56
a quantidade total de vendas (B) é: 7.0
O ticket médio (C) é: 3075.6240000000003

---

## 3\. Strings


Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [37]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

cancao_upper = cancao.upper()
print(cancao_upper)

cancao_split = cancao.split()
print(cancao_split)

cancao_replace = cancao.replace('roda', 'gira')
print(cancao_replace)

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
['Roda', 'mundo,', 'roda', 'gigante,', 'roda', 'moinho,', 'roda', 'pião.']
Roda mundo, gira gigante, gira moinho, gira pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [38]:
import re

noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
padrao = r"(\d+,\d+)%|(\d+) anos"
correspondencias = re.findall(padrao, noticia)
selic = None
ano = None

for match in correspondencias:
    if match[0]:
        selic = float(match[0].replace(',', '.'))
    elif match[1]:
        ano = int(match[1])
print("Taxa SELIC:", selic)
print("Anos:", ano)

Taxa SELIC: 2.75
Anos: 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [20]:
a = False
b = True

x = not a & b
print(x)

True